DATABASE_URL="postgresql://postgres:1@localhost:2345/calendar-db?schema=public"
JWT_SECRET='your-secret-key'
SESSION_SECRET=your_secret
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3001/api/auth/google/callback